#dll's files
*.dll

#debug files
*.pdb

./.vscode/

# Directorys
/obj
/Test/obj
/Test/bin

/Main/obj
/Main/bin

/QuestionRepository/bin
/QuestionRepository/obj

/AnswerRepository/bin
/AnswerRepository/obj

/TopicRepository/bin
/TopicRepository/obj

